shell-auto-install=false
auto-install-peers=true
shamefully-hoist=true
strict-peer-dependencies=false
only-built-dependencies=
shamefully-flatten=true
legacy-peer-deps=true
ignore-workspace-root-check=true
block-exotic-subdeps=false
